.footer-before {
  background-color: #d4223a;
  padding: 20px 0;
  display: flex; 
  justify-content: space-between; 

  .block_newsletter {
      display: flex;
      justify-content: space-between; 
      width: 100%; 
    
      .newsletter-left {
          margin-left: 100px;

          .newsletter-title {
              display: flex;
              align-items: center;

              .footer-icon {
                  font-size: 20px;
                  margin-right: 10px;
                  padding: 5px;
              }

              h4 {
                  margin: 0;
                  font-size: 24px;
                  font-weight: bold;
                  color: #fff;
                  position: relative;

                  &::after {
                      content: "";
                      display: inline-block;
                      width: 1px;
                      height: 24px; /* Chiều cao của gạch kẻ */
                      background-color: #fff; /* Màu trắng */
                      margin-top: 5px;
                      margin-left: 10px; /* Khoảng cách giữa gạch kẻ và chữ */
                  }
              }

              span {
                  font-size: 16px;
                  margin-left: 20px; /* Khoảng cách giữa gạch kẻ và chữ */
                  color: #fff;
              }
          }
      }

      .newsletter-right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .newsletter-form {
              display: flex;
              margin-right: 100px;
              align-items: flex-end; 
              margin-top: 10px;
              width: 100%; 

              input[type="email"] {
                  padding: 10px;
                  border: none;
                  border-radius: 25px 0 0 25px;
                  outline: none;
                  width: 300px;
              }

              .subscribe-button {
                  padding: 10px 20px;
                  border: none;
                  border-radius: 0 25px 25px 0;
                  background-color: #333;
                  color: #fff;
                  cursor: pointer;

                  &:disabled {
                      background-color: #ccc;
                      cursor: not-allowed;
                  }
              }
          }

          .newsletter-consent {
              margin-top: 10px;

              label {
                  font-size: 14px;
                  color: #fff;
                  display: flex;
                  align-items: center;

                  input[type="checkbox"] {
                      margin-right: 5px;
                  }
              }
          }
      }
  }
}
.footer-icon {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  margin: 0 10px;
}


.footer-container {
  padding: 65px 0;
  width: 100%;
  background-color: #ded9d3;
  

  .footer {
    .container {
      .row {
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4 {
          padding: 10px 20px;

          h3 {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            margin-bottom: 15px;
          }

          address, ul, p {
            margin: 0;
            font-size: 14px;
            line-height: 1.6;
            color: #333;
          }

          a {
            color: #333;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }

          ul {
            list-style: none;
            padding: 0;

            li {
              margin-bottom: 8px;
            }
          }
        }

        .product-column {
          margin-left: 25%;
        }
      }
    }
  }
}


.footer-after {
  clear: both;
  margin: 0;
  padding: 10px 0 10px;
  width: 100%;
  z-index: 9;
  border-top: 1px solid #ded9d3;
  display: inline-block;
  text-align: center;
  background-color: #ded9d3;
  border-top: 2px solid #000000;
}
.block-social {
  padding: 10px 0 0 0;
  position: relative;
  width: auto;
  float: left;
  h3 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 20px;
    text-transform: capitalize;
    margin: 0 0 12px;
    display: none;
}
  ul {
  margin: 0;
  width: 100%;
  text-align: right;
  display: inline-block;
}
a {
  display: block;
  height: 100%;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
li {
  height: 36px;
  width: 36px;
  display: inline-block;
  background-color: #fff;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 500ms ease 0s;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -ms-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  margin-bottom: 0 !important;
}
}

.copyright {
  margin: 0;
  width: auto;
  padding: 15px 0;
  position: relative;
  float: none;
  overflow: hidden;
  z-index: 9;
  display: inline-block;
  a {
    color: #333;
    font-size: 14px;
    letter-spacing: 0.4px;
    text-decoration: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
}
.top_button {
  background: url(https://prs.themedemo.org/PRSADD15/PRS368/themes/PRSADD368/assets/img/megnor/back_to_top.png) no-repeat scroll 0px 0 transparent;
  height: 40px;
  width: 40px;
  right: 15px;
  bottom: 30px;
  display: none;
  position: fixed;
  z-index: 95;
  border-radius: 50px;
}
.rss {
  background: url(https://prs.themedemo.org/PRSADD15/PRS368/themes/PRSADD368/assets/img/megnor/social.png) no-repeat scroll 10px -57px;
}
.youtube {
  background: url(https://prs.themedemo.org/PRSADD15/PRS368/themes/PRSADD368/assets/img/megnor/social.png) no-repeat scroll 9px -125px;
}
.vimeo {
  background: url(https://prs.themedemo.org/PRSADD15/PRS368/themes/PRSADD368/assets/img/megnor/social.png) no-repeat scroll 9px -193px;
}
.instagram {
  background: url(https://prs.themedemo.org/PRSADD15/PRS368/themes/PRSADD368/assets/img/megnor/social.png) no-repeat scroll 9px -227px;
}
.linkedin {
  background: url(https://prs.themedemo.org/PRSADD15/PRS368/themes/PRSADD368/assets/img/megnor/social.png) no-repeat scroll 9px -253px;
}
.payment {
  background: url(https://prs.themedemo.org/PRSADD15/PRS368/modules/tm_paymentcmsblock/views/img/payment.png) no-repeat scroll 9px -253px;
}

@media (min-width: 1450px) {
  .container {
      max-width: 1400px;
  }
}
.payment {
  
  background: url(https://prs.themedemo.org/PRSADD15/PRS368/modules/tm_paymentcmsblock/views/img/payment.png) no-repeat scroll 9px -253px;
}