
@use "sass:map";
@import "style/pages/theme";

.header__top{
    height: auto;
    padding: 5px 0; 
    background-color: #daccd7;
}
.header__bottom{
  height: auto;
  padding: 5px 0;
  background-color: #daccd7;
  border-top: 2px solid #000000;
}
.header__top__left{
ul{
    display: flex;
    align-items: center;
    padding: 10px 0 13px;
    list-style: none;
    column-gap: 150px;
li{
    color: #333e48;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    font-size: 15px;
    padding: 3px 0;
}
}
}


.header__top__right{
    background: #daccd7;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0 18px;
    ul{
        display: flex;
        column-gap: 100px;
        list-style: none;

    a{
        font-size: 14px;
        display: inline-block;
        color: map-get($theme-colors , "normal-text" );
    }
        
    }

        span{
            font-size: 14px;
            margin-left: 2px;
        }
    }

.header__top_center {
  display: grid;
  justify-content: flex-start;
  align-items: center;

  ul {
    display: flex;
    column-gap: 10px;
    list-style: none;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-size: 14px;
    a {
      font-size: 14px;
      display: inline-block;
      color: #333;
      text-decoration: none;
    }
    span {
      cursor: pointer;
    }
  }
}
.header__top__main {
  height: auto;
  background: #d4223a;

}

.header__icon {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  margin: 0 10px;
}

.ant-drawer .ant-menu-item a {
  color: #000 !important;
  text-decoration: none !important;
  padding: 8px 16px;
  transition: color 0.3s, background-color 0.3s;
}

.ant-drawer .ant-menu-item a:hover {
  background-color: #f0f0f0 !important;
  border-radius: 4px !important;
}

.notification-badge {
  position: absolute;
  top: -10px;
  right: -20px;
  background-color: #e05e08;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
  border: 1px solid fff;
}
.custom-search .ant-btn {
  border-radius: 0 4px 4px 0 !important;
  background: #df5b0c !important;
  color: #fff !important;
}

.box_tittle {
  background: #df5b0c;
  width: 100%;
}
.container_tittle {
  max-width: 1170px;
  margin: auto;
}

.container_note {
  border: 1px solid #ccc;
}

.container_intro {
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.btn_order {
  color: #000;
  background: #fed900;
  border: 1px solid #fed900;

  &:hover {
    color: #fff !important;
    background: #000 !important;
    border: 1px solid #000 !important;
  }
}

.row{
  padding-top: 20px !important;
  
}

.search_widget {
  position: relative;
  margin-left: 0;
  width: 780px;
  float: right;
  padding: 5px 0;
  
  form {
    position: relative;

    input[type="text"] {
      background: #fff;
      border: 1px solid transparent;
      color: #222;
      font-size: 15px;
      height: 40px;
      padding: 1px 24px; /* Điều chỉnh padding nếu cần */
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      width: calc(100% - 50px); /* Đảm bảo input không tràn nút tìm kiếm */
      border-radius: 30px; /* Điều chỉnh để phù hợp với nút tìm kiếm */
      box-sizing: border-box;
    }

    button[type="submit"] {
      background-color: #333;
      text-align: center;
      display: flex; /* Điều chỉnh để căn giữa biểu tượng */
      align-items: center; /* Điều chỉnh để căn giữa theo chiều dọc */
      justify-content: center; /* Điều chỉnh để căn giữa theo chiều ngang */
      border: none;
      color: #fff;
      font-weight: 500;
      text-transform: capitalize;
      border-radius: 0 30px 30px 0;
      background-size: 19px;
      position: absolute;
      height: 40px; /* Điều chỉnh chiều cao nếu cần */
      width: 50px; /* Điều chỉnh chiều rộng nếu cần */
      right: 0; /* Đảm bảo nút nằm bên phải */
      cursor: pointer; /* Thêm con trỏ chỉ tay khi hover */
    }
  }
}

