@use "sass:map";
@import "style/pages/theme";
@import "style/pages/responsive";


html,
body {
  margin: 0;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.header__top-main.bg_main {
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;
  float: left;
  height: 55px;
  background: #d4223a;
}

.container {
  max-width: 1400px; 
  padding-left: 15px;
  padding-right: 15px;
  margin: auto; 
  
}

.row {
  display: flex;
  flex-wrap : wrap; 
}

.col6 {
  flex: 0 0 50%;
  max-width: 50%;
}

  .col-xl-1 {
    flex: 0 0 13%;
    max-width: 13%;
  }
  .col-xl-2 {
    flex: 0 0 27%;
    max-width: 27%;
  }
  .col-xl-3 {
    flex: 0 0 34%;
    max-width: 34%;
  }
  .col-xl-4 {
    flex: 0 0 39%; 
    max-width: 39%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
  }

@include Responsive($MEDIUM_DEVICE) {
  .col-lg-1{
    flex: 0 0 100%;
    max-width: 10%;
  }
  .col-lg-2{
    margin-right: 25%;
    flex: 0 0 100%;
    max-width: 10%;
  }
  .col-lg-3 {
    flex: 0 0 100%;
    max-width: 30%;
  }
  .col-lg-4{
    flex: 0 0 100%;
    max-width: 10%;
  }
}

@include Responsive($SMALL_DEEVICES) {
  // Add responsive styles for small devices here if needed
}

#tmnavcmsblock{
  float: right;
  width: 200px;
  padding: 25px 0;
  margin-inline-start: 100px;
  color: #fff;
  img {
    vertical-align: middle;
    max-width: 100%;
    border-style: none;
}
}
#tmpaymentcmsblock {
  position: relative;
  float: right;
  margin-top: 15px;
  overflow: hidden;
  z-index: 9;
  left: -25px;
}

.search_widget{
  position: center;
  margin-left: 0;
  width: 780px;
  float: right;
  padding: 5px 0;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}
*::before, *::after{
box-sizing: inherit;
}
.search_widget form button[type="submit"] {
  background-color: #333;
  text-align: center;
  display: flex; /* Điều chỉnh để căn giữa biểu tượng */
  align-items: center; 
  justify-content: center; 
  border: none;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 0 30px 30px 0;
  background-size: 19px;
  position: absolute;
  height: 40px; /* Điều chỉnh chiều cao nếu cần */
  width: 50px; /* Điều chỉnh chiều rộng nếu cần */
  right: 30px; /* Đảm bảo nút nằm bên phải */
  top: -1px;
  cursor: pointer; /* Thêm con trỏ chỉ tay khi hover */
}

.search_widget form input[type="text"] {
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  font-size: 15px;
  height: 40px;
  padding: 1px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: calc(100% - 50px); 
  border-radius: 30px; 
}

@media (min-width: 992px) {
  .hidden-lg-up {
      display: none !important;
  }
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.pull-xs-right {
  float: right !important;
}

.block {
  @media (min-width: 992px) {
    display: none;
  }
}