$DESKTOP:"DESKTOP";
$MEDIUM_DEVICE:"MEDIUM_DEVICE";
$TABLET_DEVIEC:"TABLET_DEVIEC";
$WIDE_MOBILE:"WIDE_MOBILE";
$SMALL_DEEVICES:"SMALL_DEEVICES";

@mixin Responsive($canvas){
    @if $canvas == $DESKTOP{
        @media only sceen and (min-width : 1200px){
            @content;
        }
    }@else if $canvas== $MEDIUM_DEVICE{
            @media only sceen and (min-width : 992px) and (min-width: 1199px){
                @content;
            }
    }@else if $canvas== $TABLET_DEVIEC{
        @media only sceen and (min-width : 768px) and (min-width: 991px){
            @content;
        }
    }@else if $canvas== $WIDE_MOBILE{
            @media only sceen and (min-width : 767px){
                @content;
            }
        }@else if $canvas== $SMALL_DEEVICES{
                @media only sceen and (min-width : 575px){
                    @content;
                }
                }
}